@import url('//fonts.googleapis.com/earlyaccess/nanummyeongjo.css');
@import url('https://fonts.googleapis.com/earlyaccess/notosanskr.css');

@font-face {
    font-family: 'Nanum Gothic';
    font-style: normal;
    font-weight: 700;
    src: url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Bold.eot);
    src: url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Bold.eot?#iefix) format('embedded-opentype'), url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Bold.woff) format('woff'), url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'Nanum Gothic';
    font-style: normal;
    font-weight: 400;
    src: url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Regular.eot);
    src: url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Regular.eot?#iefix) format('embedded-opentype'), url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Regular.woff) format('woff'), url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Nanum Gothic';
    font-style: normal;
    font-weight: 800;
    src: url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-ExtraBold.eot);
    src: url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-ExtraBold.eot?#iefix) format('embedded-opentype'), url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-ExtraBold.woff2) format('woff2'), url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-ExtraBold.woff) format('woff'), url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-ExtraBold.ttf) format('truetype');
}
@font-face {
    font-family: 'MaruBuri-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/MaruBuri-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Arita-buri-SemiBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Arita-buri-SemiBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NanumBarunpen';
    src: url(/webfont/NanumBarunpen/NanumBarunpenR.eot);
    src: url(/webfont/NanumBarunpen/NanumBarunpenR.eot?#iefix) format('embedded-opentype'), url(/webfont/NanumBarunpen/NanumBarunpenR.woff) format('woff'), url(/webfont/NanumBarunpen/NanumBarunpenR.ttf) format('truetype');
}

@font-face {
    font-family: 'NanumBarunGothic';
    src: url(/webfont/NanumBarunGothic/NanumBarunGothicWeb.eot);
    src: url(/webfont/NanumBarunGothic/NanumBarunGothicWeb.eot?#iefix) format('embedded-opentype'), url(/webfont/NanumBarunGothic/NanumBarunGothicWeb.woff) format('woff'), url(/webfont/NanumBarunGothic/NanumBarunGothicWeb.ttf) format('truetype');
}

@font-face {
    font-family: 'Nanum Barun Gothic';
    src: url(/webfont/NanumBarunGothic/NanumBarunGothicWeb.eot);
    src: url(/webfont/NanumBarunGothic/NanumBarunGothicWeb.eot?#iefix) format('embedded-opentype'), url(/webfont/NanumBarunGothic/NanumBarunGothicWeb.woff) format('woff'), url(/webfont/NanumBarunGothic/NanumBarunGothicWeb.ttf) format('truetype');
}

@font-face {
    font-family: 'NanumBareunGothicUltraLight';
    src: url(/webfont/NanumBarunGothicL/NanumBarunGothicWebUltraLight.eot);
    src: url(/webfont/NanumBarunGothicL/NanumBarunGothicWebUltraLight.eot?#iefix) format('embedded-opentype'), url(/webfont/NanumBarunGothicL/NanumBarunGothicWebUltraLight.woff) format('woff'), url(/webfont/NanumBarunGothicL/NanumBarunGothicWebUltraLight.ttf) format('truetype');
}

@font-face {
    font-family: 'NanumGothicEco';
    src: url(/webfont/NanumEco/NanumGothicEco/NanumGothicEco.eot);
    src: url(/webfont/NanumEco/NanumGothicEco/NanumGothicEco.eot?#iefix) format('embedded-opentype'), url(/webfont/NanumEco/NanumGothicEco/NanumGothicEco.woff) format('woff'), url(/webfont/NanumEco/NanumGothicEco/NanumGothicEco.ttf) format('truetype');
}

@font-face {
    font-family: 'NanumBrush';
    src: url(/webfont/NanumBrush/NanumBrush.eot);
    src: url(/webfont/NanumBrush/NanumBrush.eot?#iefix) format('embedded-opentype'), url(/webfont/NanumBrush/NanumBrush.woff) format('woff'), url(/webfont/NanumBrush/NanumBrush.ttf) format('truetype');
}

@font-face {
    font-family: 'Nanum Brush Script';
    src: url(/webfont/NanumBrush/NanumBrush.eot);
    src: url(/webfont/NanumBrush/NanumBrush.eot?#iefix) format('embedded-opentype'), url(/webfont/NanumBrush/NanumBrush.woff) format('woff'), url(/webfont/NanumBrush/NanumBrush.ttf) format('truetype');
}

@font-face {
    font-family: 'NanumPen';
    src: url(/webfont/NanumBrush/NanumPen.eot);
    src: url(/webfont/NanumBrush/NanumPen.eot?#iefix) format('embedded-opentype'), url(/webfont/NanumBrush/NanumPen.woff) format('woff'), url(/webfont/NanumBrush/NanumPen.ttf) format('truetype');
}

@font-face {
    font-family: 'NanumSquare';
    src: url(/webfont/NanumSquare/NanumSquareR.eot);
    src: url(/webfont/NanumSquare/NanumSquareR.eot?#iefix) format('embedded-opentype'), url(/webfont/NanumSquare/NanumSquareR.woff) format('woff'), url(/webfont/NanumSquare/NanumSquareR.ttf) format('truetype');
}

@font-face {
    font-family: 'Nanum Square';
    src: url(/webfont/NanumSquare/NanumSquareR.eot);
    src: url(/webfont/NanumSquare/NanumSquareR.eot?#iefix) format('embedded-opentype'), url(/webfont/NanumSquare/NanumSquareR.woff) format('woff'), url(/webfont/NanumSquare/NanumSquareR.ttf) format('truetype');
}

@font-face {
    font-family: 'MiSaeng';
    src: url(/webfont/Misaeng/SDMiSeang.eot);
    src: url(/webfont/Misaeng/SDMiSeang.eot?#iefix) format('embedded-opentype'), url(/webfont/Misaeng/SDMiSeang.woff) format('woff'), url(/webfont/Misaeng/SDMiSeang.ttf) format('truetype');
}

ul.tab-list-sc {
    display: flex;
    list-style-type: none;
    padding: 30px 0;
    justify-content: space-evenly;
    margin-bottom:30px;
}

ul.tab-list-sc li a {
        color: #000;
        text-decoration: none;
        font-size: 20px;
        width:100%;
        display:inline-block;
    }
ul.tab-list-sc li {
        border-bottom: 3px solid #a7a7a7;
        cursor: pointer;
        width: 100%;
        text-align: center;
        padding-bottom: 20px;
    }
    
    
ul.tab-list-sc li.active, ul.tab-list-sc li:hover {
        border-bottom: 3px solid #223154;
        transition: 200ms;
    }

a {
    text-decoration: none;
}

    a[data-href] {
        cursor: pointer;
    }

img {
    max-width: 100%;
}

input[type=range] {
    border: 0;
    border: 0;
    box-shadow: none;
    padding-right: 0;
    padding-left: 0;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #eee inset !important;
}

.no-radius {
    border-radius: 0 !important;
}

.readonly {
    background: #eee;
    cursor: not-allowed;
}

    .readonly:-webkit-autofill {
        -webkit-box-shadow: 0 0 0px 1000px #eee inset;
    }

.plain-message {
    background: #fff;
    padding: 21px 0;
    margin: 0;
    text-align: center;
}

.no-padding {
    padding: 0 !important;
}

.padding-top-4 {
    padding-top: 4px;
}

.padding-top-6 {
    padding-top: 6px;
}

.padding-top-12 {
    padding-top: 12px;
}

.padding-top-24 {
    padding-top: 24px;
}

.padding-top-42 {
    padding-top: 42px;
}

.padding-left-0 {
    padding-left: 0;
}

.padding-left-2 {
    padding-left: 2px;
}

.padding-right-0 {
    padding-right: 0;
}

.padding-left-4 {
    padding-left: 4px;
}

.padding-right-2 {
    padding-right: 2px;
}

.padding-right-12 {
    padding-right: 12px;
}

.padding-bottom-24 {
    margin-bottom: 24px;
}

.margin-bottom-6 {
    margin-bottom: 6px;
}

.width-half {
    width: 50%;
}

#bandMessage {
    position: fixed;
    bottom: 12%;
    cursor: pointer;
    left: 0;
    width: 100%;
    z-index: 9999;
}

    #bandMessage .message {
        margin-bottom: 0;
    }

    #bandMessage .revival {
        cursor: pointer;
        margin-left: 4px;
    }

#processPop {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 9998;
    width: 100px;
    margin-left: -50px;
    height: 30px;
    margin-top: -12px;
    text-align: center;
}

    #processPop .message i {
        font-size: 3.3em;
        color: #333;
    }

    #processPop .message span {
        display: inline-block;
        width: 7px;
        height: 30px;
        background: #07c;
        border-radius: 1px;
        margin: 0 4px;
        position: relative;
        -webkit-transition: all 0.5s;
        transition: all 0.5s;
        top: -30px;
    }

        #processPop .message span.transition {
            opacity: 0.5;
            top: 0;
        }

.dimode-modal .modal-body {
    padding-bottom: 0;
}

.dimode-modal .left-area .category {
    margin-bottom: 14px;
}

    .dimode-modal .left-area .category .each-category {
        margin-bottom: 0;
        padding: 8px 12px;
        cursor: pointer;
    }

        .dimode-modal .left-area .category .each-category.active {
            background: #245679;
            color: #fff;
        }

            .dimode-modal .left-area .category .each-category i.closed,
            .dimode-modal .left-area .category .each-category.active i.opened {
                display: inline;
            }

            .dimode-modal .left-area .category .each-category i.opened,
            .dimode-modal .left-area .category .each-category.active i.closed {
                display: none;
            }

.process-line {
    position: fixed;
    bottom: 0;
    height: 5px;
    background: #07c;
    width: 0;
    z-index: 9999;
    -webkit-transition: none;
    transition: none;
}

    .process-line[data-status=start] {
        visibility: visible;
        width: 50%;
        -webkit-transition: width 0.5s;
        transition: width 0.5s;
    }

    .process-line[data-status=ing] {
        width: 75%;
        -webkit-transition: width 7.5s;
        transition: width 7.5s;
    }

    .process-line[data-status=end] {
        width: 100%;
        -webkit-transition: width 0.5s;
        transition: width 0.5s;
    }

    .process-line[data-status=init] {
        width: 0;
        visibility: hidden;
        -webkit-transition: none;
        transition: none;
    }

.root_daum_roughmap {
    border: none !important;
    padding: 0 !important;
    border-radius: 0 !important;
}

@media(max-width:767px) {


    .Mno-padding {
        padding: 0 !important;
    }

    .Mno-margin {
        margin: 0 !important;
    }
    /*padding-top*/
    .Mpadding-top-4 {
        padding-top: 4px !important;
    }

    .Mpadding-top-6 {
        padding-top: 6px !important;
    }

    .Mpadding-top-12 {
        padding-top: 12px !important;
    }

    .Mpadding-top-24 {
        padding-top: 24px !important;
    }

    .Mpadding-top-42 {
        padding-top: 42px !important;
    }
    /*padding-left*/
    .Mpadding-left-0 {
        padding-left: 0 !important;
    }

    .Mpadding-left-2 {
        padding-left: 2px !important;
    }

    .Mpadding-left-4 {
        padding-left: 4px !important;
    }
    /*padding-right*/
    .Mpadding-right-0 {
        padding-right: 0 !important;
    }

    .Mpadding-right-2 {
        padding-right: 2px !important;
    }

    .Mpadding-right-4 {
        padding-right: 4px !important;
    }
    /*padding-bottom*/
    .Mpadding-bottom-4 {
        padding-bottom: 4px !important;
    }

    .Mpadding-bottom-6 {
        padding-bottom: 6px !important;
    }

    .Mpadding-bottom-12 {
        padding-bottom: 12px !important;
    }

    .Mpadding-bottom-24 {
        padding-bottom: 24px !important;
    }

    .Mpadding-bottom-42 {
        padding-bottom: 42px !important;
    }
    /*margin-top*/
    .Mmargin-top-4 {
        margin-top: 4px !important;
    }

    .Mmargin-top-6 {
        margin-top: 6px !important;
    }

    .Mmargin-top-12 {
        margin-top: 12px !important;
    }

    .Mmargin-top-24 {
        margin-top: 24px !important;
    }

    .Mmargin-top-42 {
        margin-top: 42px !important;
    }
    /*padding-left*/
    .Mmargin-left-0 {
        margin-left: 0 !important;
    }

    .Mmargin-left-2 {
        margin-left: 2px !important;
    }

    .Mmargin-left-4 {
        margin-left: 4px !important;
    }
    /*padding-right*/
    .Mmargin-right-0 {
        margin-right: 0 !important;
    }

    .Mmargin-right-2 {
        margin-right: 2px !important;
    }

    .Mmargin-right-4 {
        margin-right: 4px !important;
    }
    /*padding-bottom*/
    .Mmargin-bottom-4 {
        margin-bottom: 4px !important;
    }

    .Mmargin-bottom-6 {
        margin-bottom: 6px !important;
    }

    .Mmargin-bottom-12 {
        margin-bottom: 12px !important;
    }

    .Mmargin-bottom-24 {
        margin-bottom: 24px !important;
    }

    .Mmargin-bottom-42 {
        margin-bottom: 42px !important;
    }
    /*font-size*/
    .Mfont24 {
        font-size: 24px !important;
    }

    .Mfont22 {
        font-size: 22px !important;
    }

    .Mfont20 {
        font-size: 20px !important;
    }

    .Mfont18 {
        font-size: 18px !important;
    }

    .Mfont16 {
        font-size: 16px !important;
    }

    .Mfont14 {
        font-size: 14px !important;
    }

    .MlineHeightNormal {
        line-height: 1.42857143 !important;
    }
}
