@-webkit-keyframes spinspin {0% {-webkit-transform: rotate(0deg);}100% {-webkit-transform:rotate(180deg);}}
@keyframes spinspin {0% {transform: rotate(0deg);}100% {transform:rotate(180deg);}}

/* common */
.slider{float:left;}
.nav-tabs {border-bottom:none;}
.plus { position:absolute; top:0; right:0;}
.plus:hover { opacity:0.8; transition:0.3s all ease;}

.box{display:inline-block; position:relative; opacity:0; top:50px; }

/*
#main-slider{margin-top: 100px;}
*/
.slider .slider-wrapper .slide img{width:100%!important;}
/*main-quick*/
#main-quick{background-color:#B59C89;}
#main-quick .container-fluid .row a{text-decoration:none;}
#main-quick .container-fluid .row a .box{width: 20%;text-align: center;height: 100px;
display: flex;flex-direction: row;justify-content: center;align-items: center;}
#main-quick .container-fluid .row a .box span{font-size:20px; color:#fff; padding-bottom:7px; display:inline-block;}
#main-quick .container-fluid .row a .box span img{margin: 0 5px;}

/*main0*/
#main-0{padding: 50px 0 0;}
#main-0 .main-0{text-align:center;}
/*main1*/
#main-1{height:695px;}
#main-1 #sermon{padding-top: 50px; height: 695px; position:relative;}
/*#main-1 #sermon{padding-top: 100px; height: 695px; position:relative;}*/
#main-1 #sermon #SermonImg{float:left; position:absolute;z-index: 1;}
#main-1 #sermon .sermon_left_tap{position: absolute;right: 10%;top: 25%;list-style: none;}
#main-1 #sermon .sermon_left_tap a{text-decoration:none;}
#main-1 #sermon .sermon_left_tap a li{padding: 10px;text-align: center;font-size: 15px;letter-spacing: 0.5px;color: #54453b;font-weight: bold;}
#main-1 #sermon .sermon_left_tap a li img{display: block;margin: 0 auto;font-size: 17px;}
#main-1 #sermon .sermon-div{position: absolute;top: 50%;left: 40%;
text-align: left;width: 55%;border: none;display: block;transform: translate(0,-50%);}
#main-1 #sermon .sermon-div a{text-decoration:none; color:#333;}
#main-1 #sermon .sermon-div a h5{font-size:24px; line-height:2;}
#main-1 #sermon .sermon-div a h1{font-size: 62px;width: 70%;word-break: keep-all;
overflow: hidden;word-wrap: break-word;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;}
#main-1 #sermon .sermon-div a h4{font-size:25px; line-height:3;}
#main-1 #sermon hr{text-align: left;width: 15%;border: 10px solid #B39A88;position: absolute;bottom: 0;left: 33.3%; margin:0;}


/*main2*/
.white{color:#fff!important;}
#main-2{padding-top: 275px; background-color:#F6F6F6;}
#main-2 .main-2 .container .row > div{margin-bottom: -20px;}
#main-2 .main-2 #sermon-class .sermon-class-href{width:25%; float:left;height: 250px;}
#main-2 .main-2 #sermon-class .sermon-class-href a{display: inline-block;width: 100%;position: relative;text-decoration:none; color:#000;
height: 100%;}
#main-2 .main-2 #sermon-class .sermon-class-href a .on{height:250px; display:none;}
#main-2 .main-2 #sermon-class .sermon-class-href a .off{height:250px;}
#main-2 .main-2 #sermon-class .sermon-class-href a .sermonBTN img{position: absolute;right: 10%;top: -15%;}
#main-2 .main-2 #sermon-class .sermon-class-href a:hover .sermonBTN img,
#main-2 .main-2 #sermon-class .sermon-class-href a:focus .sermonBTN img{animation: spinspin 1s ease-out; -webkit-animation: spinspin 1s ease-out;}
#main-2 .main-2 #sermon-class .sermon-class-href a h1{position: absolute;top: 30%;font-size: 28px;margin: 0;font-weight:bold; letter-spacing:1px;
left: 15%;text-align: left;display: block;transform: translate(0,-50%);}
#main-2 .main-2 #sermon-class .sermon-class-href a h4.main2-title{position: absolute;top: 50%;
font-size: 20px;margin: 0;left: 15%;text-align: left;display: block;transform: translate(0,-50%);
text-overflow: ellipsis;white-space: nowrap;overflow: hidden;width: 80%;float: left;}
#main-2 .main-2 #sermon-class .sermon-class-href a h4.main2-subvalue{position: absolute;top: 65%;
font-size: 20px;margin: 0;left: 15%;text-align: left;display: block;transform: translate(0,-50%);}
#main-2 .main-2 #sermon-class .sermon-class-href a h4.main2-day{position: absolute;top: 80%;
font-size: 20px;margin: 0;left: 15%;text-align: left;display: block;transform: translate(0,-50%);}

/*main3*/
@keyframes move {
  from {
    transform: translateX(0);
    animation-timing-function: cubic-bezier(.2,0,.8,1);
  }
  to { transform: translateX(50px); }
}
@keyframes move2 {
  from {
    transform: translateX(0);
    animation-timing-function: cubic-bezier(.2,0,.8,1);
  }
  to { transform: translateX(-50px); }
}

@keyframes move3 {
  from {
    transform: translateX(100px) scale(1.5);
    animation-timing-function: cubic-bezier(.2,0,.8,1);
  }
  to { transform: translateX(0px) scale(1); }
}
#main-3{padding-top: 80px;}
#main-3 .main-3 .ministry{position: relative;width: 100%;height: 1700px;}
#main-3 .main-3 .ministry > div{position:absolute; background-size:100%; background-repeat:no-repeat; background-position:center;}
#main-3 .main-3 .ministry .ministryM{position:absolute;text-align: right;}
#main-3 .main-3 .ministry .ministryM h1{margin: 0;font-size: 36px;font-weight: bold;letter-spacing: 1px;line-height: 1.5;}
#main-3 .main-3 .ministry .ministryM h5{margin: 0;font-weight: 500;font-size: 22px;letter-spacing: 1px;line-height: 1.5;}
#main-3 .main-3 .ministry .ministryM a{text-decoration:none;}
#main-3 .main-3 .ministry .ministry-div0{right: 5%;top: 0;}
#main-3 .main-3 .ministry .ministry-div0 .ministry-img{}
#main-3 .main-3 .ministry .ministry-div1{right: 31.9%; top: 23.6%;}
#main-3 .main-3 .ministry .ministry-div2{left: 18.7%;top: 15%;}
#main-3 .main-3 .ministry .ministry-div3{top: 52.64%; left: 11.7%;}
#main-3 .main-3 .ministry .ministry-div4{left: 11.7%;bottom: 28.5%;}
#main-3 .main-3 .ministry .ministry-div5{bottom: 8.6%; right: 3.4%; z-index:333}
#main-3 .main-3 .ministry .ministry-div5 .ministryM{left: 15%; bottom: 13%; color:#54453b;text-align: left;}
#main-3 .main-3 .ministry .ministry-div5 .ministryM a{color:#54453b;}
#main-3 .main-3 .ministry .ministry-div6{left: .1%; top: 26.8%;}
#main-3 .main-3 .ministry .ministry-div6 .ministryM{right: 10%;top: 15%; color:#66574C;}
#main-3 .main-3 .ministry .ministry-div6 .ministryM a{color:#66574C;}
#main-3 .main-3 .ministry .ministry-div7{top: 15%;left: 30.3%;z-index: 1;}
#main-3 .main-3 .ministry .ministry-div7 .ministryM{text-align: left;top: 20%;left: 10%;color:#54453b;}
#main-3 .main-3 .ministry .ministry-div7 .ministryM a{color:#54453b;}
#main-3 .main-3 .ministry .ministry-div8{right: 0%; top: 32.6%; z-index:333}
#main-3 .main-3 .ministry .ministry-div8 .ministryM{bottom: 15%;left: 12%;text-align: left; color:#fff;}
#main-3 .main-3 .ministry .ministry-div8 .ministryM a{color:#fff;}
#main-3 .main-3 .ministry .ministry-div9{bottom: 17.45%; left: 21%;}
#main-3 .main-3 .ministry .ministry-div9 .ministryM{left: 6%;top: 21%;text-align: left; color:#fff;}
#main-3 .main-3 .ministry .ministry-div9 .ministryM a{color:#fff;}

#main-3 .main-3 .ministry .ministry-div0 .ministryIMG{width:627px;height:254px;}
#main-3 .main-3 .ministry .ministry-div1 .ministryIMG{width:160px;height:160px;}
#main-3 .main-3 .ministry .ministry-div2 .ministryIMG{width:200px;height:200px;}
#main-3 .main-3 .ministry .ministry-div3 .ministryIMG{width:320px;height:160px;}
#main-3 .main-3 .ministry .ministry-div4 .ministryIMG{width:160px;height:160px;}
#main-3 .main-3 .ministry .ministry-div5 .ministryIMG{width:500px;height:500px;}
#main-3 .main-3 .ministry .ministry-div6 .ministryIMG{width:520px;height:440px;}
#main-3 .main-3 .ministry .ministry-div7 .ministryIMG{width:490px;height:800px;}
#main-3 .main-3 .ministry .ministry-div8 .ministryIMG{width:720px;height:500px;}
#main-3 .main-3 .ministry .ministry-div9 .ministryIMG{width:800px;height:350px;}

#main-4{padding-bottom:100px;}
#main-4 .main-4 .media-title{display: flex;align-items: center;justify-content: space-between;}
#main-4 .main-4 .media-title .mediaTIMG{width:248px; height:247px;}
#main-4 .main-4 .media-title h1{font-size: 48px; letter-spacing: 185px; margin:0; font-family: 'Arita-buri-SemiBold';}
#main-4 .main-4 .media-title a{}
#main-4 .main-4 .media-title a:hover,
#main-4 .main-4 .media-title a:focus img{animation:move3 1.5s ease-in-out infinite alternate-reverse;}


#main-4 .main-4 .main-4-media{height: 530px;}
#main-4 .main-4 .main-4-media .media-main{height: 100%;float: right;
width: 70%;border: 20px solid #F6F6F6;display: flex;align-items: center;flex-direction: row;justify-content: flex-end;}
#main-4 .main-4 .main-4-media .media-main .media-bg{position: absolute;left: 0;height: 410px; background-color:#000; width:45%; padding:0;background-size: cover;background-repeat: no-repeat;top:40%; background-position:center;}
#main-4 .main-4 .main-4-media .media-main .media-bg a{display:inline-block; width:100%; height:100%;}
#main-4 .main-4 .main-4-media .media-main .media-bg img{position: absolute;
top: 50%;left: 40%;transform: translate(0,-50%);}
#main-4 .main-4 .main-4-media .media-main .media-section{float: right;height:410px;}
#main-4 .main-4 .main-4-media .media-main .media-section .media-top-page .media-top-btn{position: absolute;right: 5%;top: 45%;}
#main-4 .main-4 .main-4-media .media-main .media-section .media-top-page .media-top-btn a{position:relative; text-decoration:none;}
#main-4 .main-4 .main-4-media .media-main .media-section .media-top-page .media-top-btn a img{margin: 0 10px;}
#main-4 .main-4 .main-4-media .media-main .media-section .media-top-page .media-top-btn a.media-next:hover img,
#main-4 .main-4 .main-4-media .media-main .media-section .media-top-page .media-top-btn a.media-next:focus img{animation-duration: 2s;
animation-direction: alternate;animation-timing-function: linear;animation-iteration-count: infinite; animation-name: move;}
#main-4 .main-4 .main-4-media .media-main .media-section .media-top-page .media-top-btn a.media-prev:hover img,
#main-4 .main-4 .main-4-media .media-main .media-section .media-top-page .media-top-btn a.media-prev:focus img{animation-duration: 2s;
animation-direction: alternate;animation-timing-function: linear;animation-iteration-count: infinite; animation-name: move2;}
#main-4 .main-4 .main-4-media .media-main .media-section .media-btn{height: 100%;width: 100%;display: flex;
flex-direction: row;justify-content: space-around; align-items:flex-end;}
#main-4 .main-4 .main-4-media .media-main .media-section .media-btn a{height: 175px;width: 190px;display: inline-block;position: relative;
text-decoration: none;color: #54453b;background-color: #F6F5F6;font-size: 20px;line-height: 1.5; border: 1px solid #F6F5F6;}

#main-4 .main-4 .main-4-media .media-main .media-section .media-btn a:hover,
#main-4 .main-4 .main-4-media .media-main .media-section .media-btn a:focus{color:#F6F5F6;}
#main-4 .main-4 .main-4-media .media-main .media-section .media-btn a:before{background-color:#54453b;}
#main-4 .main-4 .main-4-media .media-main .media-section .media-btn a span{position: absolute;top: 50%;text-align: center;
width: 100%;border: none;display: block;transform: translate(0,-50%);}
#main-4 .main-4 .main-4-media .media-main .media-section .media-top-main{position: absolute; width:100%;}
#main-4 .main-4 .main-4-media .media-main .media-section .media-top-main ul{position: absolute;left: 0;width: 80%;padding: 40px; display:none;}
#main-4 .main-4 .main-4-media .media-main .media-section .media-top-main ul.active{display:inline-block;}
#main-4 .main-4 .main-4-media .media-main .media-section .media-top-main ul a{text-decoration:none; color:#000;}
#main-4 .main-4 .main-4-media .media-main .media-section .media-top-main ul a.active{font-weight:bold;}
#main-4 .main-4 .main-4-media .media-main .media-section .media-top-main ul li{line-height: 2; font-size:20px; word-break:keep-all;text-overflow: ellipsis;white-space: nowrap;
overflow: hidden;width: 100%;float: left;}

#main-5{position:relative;float: left; width: 100%; height:730px;}
#main-5 .main-5 .gallery-hr{margin: 0;position: absolute;left: 0;top: 25%;border: 2px solid #EE4747;width: 20%;}
#main-5 .main-5 .gallery-bg{height: 370px;width: 70%;display: inline-block;float: right;position: absolute;right: 0;top:0;background-color:#F6F6F7;}
#main-5 .main-5 .gallery-title{height:205px;position:relative;}
#main-5 .main-5 .gallery-title .gallery-h1{position: absolute;top: 50%;text-align: center;
right: 78%;border: none;display: block;transform: translate(0,-50%);}
#main-5 .main-5 .gallery-title .gallery-h1 h1{margin: 0;font-size: 54px;width: 100%;display: inline-block;font-family: 'Arita-buri-SemiBold';}
#main-5 .main-5 .gallery-title .gallery-href{position: absolute;top: 50%;text-align: center;left: 90%;
border: none;display: block;transform: translate(0,-50%);}
#main-5 .main-5 .gallery-title .gallery-href a{border: 1px solid #B49B87; display: inline-block; text-decoration:none; color:#B49B87;}
#main-5 .main-5 .gallery-title .gallery-href a span{padding: 20px 60px;font-size: 16px;display: inline-block;}
#main-5 .main-5 .gallery-title .gallery-href a:hover,
#main-5 .main-5 .gallery-title .gallery-href a:focus span{color:#F6F5F6;}
#main-5 .main-5 .gallery-title .gallery-href a:before{background-color:#847264;}
#main-5 .main-5 .gallery-title hr{}

#main-5 .main-5 .gallery-main .gallery-left{cursor: pointer;position: absolute;top: 40%;left: 1%;box-shadow: 2px 2px 5px #22222273; border-radius: 50%;}
#main-5 .main-5 .gallery-main .gallery-right{cursor: pointer;position: absolute;top: 40%;right: 1%;box-shadow: 2px 2px 5px #22222273; border-radius: 50%;}
#main-5 .main-5 .gallery-main .gallery-content{overflow:hidden;}
#main-5 .main-5 .gallery-main .gallery-content .contentSlideWrapper .contentSlide{padding: 25px;/*border: 1px solid #000;*/}
#main-5 .main-5 .gallery-main .gallery-content .contentSlideWrapper .contentSlide a{text-decoration:none;}
#main-5 .main-5 .gallery-main .gallery-content .contentSlideWrapper .contentSlide a h1{font-size: 22px;font-weight: 400;color: #000;
margin: 30px 0 0;overflow: hidden;white-space: normal;line-height: 1.4;text-align: left;word-wrap: break-word;display: -webkit-box;
-webkit-line-clamp: 2;word-break: keep-all;-webkit-box-orient: vertical;height: 2.8em;transform: skew( -0.05deg );word-break:keep-all;}
#main-5 .main-5 .gallery-main .gallery-content .contentSlideWrapper .contentSlide a h5{font-size: 16px;color: #bbbbbb;margin: 0;line-height: 2;}
#main-5 .main-5 .gallery-main .gallery-content .contentSlideWrapper .contentSlide a .gallery-img{display: block;width: 300px;height: 200px;position: relative;overflow: hidden;
margin: 0 auto;background-size: cover;background-position: 50% 50%;background-origin: border-box;background-repeat: no-repeat;}
#main-5 .main-5 .gallery-main .gallery-content .contentSlideWrapper .contentSlide:hover a .gallery-img,
#main-5 .main-5 .gallery-main .gallery-content .contentSlideWrapper .contentSlide:focus a .gallery-img
{-webkit-transform: translate(-10px,-10px);transform: translate(-10px,-10px);transition: all 0.5s;}

.view-more {
display: inline-block;text-decoration: none;overflow: hidden;
vertical-align: middle;background: transparent;overflow: hidden;
-webkit-transition: 1s cubic-bezier(0.165, 0.84, 0.44, 1);transition: 1s cubic-bezier(0.165, 0.84, 0.44, 1);
position: relative;z-index: 1;font-weight:100;}



.view-more:hover:before {
-webkit-transform: translateX(0) skewX(-17.62deg);-ms-transform: translateX(0) skewX(-17.62deg);
transform: translateX(0) skewX(-17.62deg);-webkit-transform-origin: left top;
-ms-transform-origin: left top;transform-origin: left top;}

.view-more:before {
z-index: -1;content: "";display: block;width: 135%;height: 100%;position: absolute;left: 0;top: 0;
-webkit-transform-origin: right top;-ms-transform-origin: right top;transform-origin: right top;-webkit-transform: translateX(-101%) skewX(-17.62deg);
-ms-transform: translateX(-101%) skewX(-17.62deg);transform: translateX(-101%) skewX(-17.62deg);-webkit-transition: -webkit-transform 1s cubic-bezier(0.165, 0.84, 0.44, 1);
transition: -webkit-transform 1s cubic-bezier(0.165, 0.84, 0.44, 1);transition: transform 1s cubic-bezier(0.165, 0.84, 0.44, 1);transition: transform 1s cubic-bezier(0.165, 0.84, 0.44, 1),  -webkit-transform 1s cubic-bezier(0.165, 0.84, 0.44, 1);
-webkit-backface-visibility: hidden;backface-visibility: hidden;}

.quick-menus{position: fixed;top: 20%;right: 2%;z-index: 9;width: 95px;}
.quick-menus ul{display: flex; flex-flow: column;}
.quick-menus ul a{height: 80px; position: relative;}
.quick-menus ul a li{position: absolute;top: 50%;text-align: center;
width: 100%;display: block;transform: translate(0,-50%);font-size: 15px;color: #fff;}
.quick-menus ul a li img{display:block; margin:0 auto;}
.quick-menus ul a:nth-child(1){background-color:#bfa586;}
.quick-menus ul a:nth-child(2){background-color:#b28f6d;}
.quick-menus ul a:nth-child(3){background-color:#9e7247;}
.quick-menus ul a:nth-child(4){background-color:#455577;}
.quick-menus ul a:nth-child(5){background-color:#2f3f61;}
.quick-menus ul a:nth-child(6){background-color:#b464eb;}
@media (min-width:1750px) {
    
    .container{width:1750px;}
    #main-2 .main-2 .container{width:1605px;}
}
@media (min-width:1500px) and (max-width:1750px) {
	#main-1{height: 585px;}
	#main-1 #sermon{height: 585px;}
	#main-1 #sermon .sermon-div{top: 60%;}
	#main-1 #sermon .sermon-div a h5{font-size:20px;}
	#main-1 #sermon .sermon-div a h1{font-size:48px;}
	#main-1 #sermon .sermon-div a h4{font-size:22px;}
	#main-1 #sermon .sermon_left_tap{bottom: 20%;}
	#main-1 #sermon #SermonImg > img{max-width:75%;}
	#main-2{padding-top: 195px;}
	#main-2 .main-2 #sermon-class .sermon-class-href{height: 175px;}
    #main-2 .main-2 #sermon-class .sermon-class-href a .on,
    #main-2 .main-2 #sermon-class .sermon-class-href a .off{height:180px;}
	#main-2 .main-2 #sermon-class .sermon-class-href a h1{font-size: 24px;}
	#main-2 .main-2 #sermon-class .sermon-class-href a h4.main2-title{font-size: 18px;}
	#main-2 .main-2 #sermon-class .sermon-class-href a h4.main2-subvalue{font-size: 18px;}
	#main-2 .main-2 #sermon-class .sermon-class-href a h4.main2-day{font-size: 18px;}
	#main-3 .main-3 .ministry{height: 1150px;}
	#main-3 .main-3 .ministry .ministryM h1{font-size:28px;}
	#main-3 .main-3 .ministry .ministryM h5{font-size: 16px;}
	#main-3 .main-3 .ministry .ministryIMG{position:relative;}
    #main-3 .main-3 .ministry .ministry-div0 .ministryIMG{width:400px;height:160px;}
    #main-3 .main-3 .ministry .ministry-div1 .ministryIMG{width:100px;height:100px;}
    #main-3 .main-3 .ministry .ministry-div2 .ministryIMG{width:140px;height:140px;}
    #main-3 .main-3 .ministry .ministry-div3 .ministryIMG{width:200px;height:100px;}
    #main-3 .main-3 .ministry .ministry-div4 .ministryIMG{width:100px;height:100px;}
    #main-3 .main-3 .ministry .ministry-div5 .ministryIMG{width:280px;height:280px;}
    #main-3 .main-3 .ministry .ministry-div6 .ministryIMG{width:345px;height:330px;}
    #main-3 .main-3 .ministry .ministry-div7 .ministryIMG{width:410px;height:570px;}
    #main-3 .main-3 .ministry .ministry-div8 .ministryIMG{width:385px;height:340px;}
    #main-3 .main-3 .ministry .ministry-div9 .ministryIMG{width:600px;height:250px;}
    #main-3 .main-3 .ministry .ministry-div1{right: 25%; top: 28.3%;}
    #main-3 .main-3 .ministry .ministry-div2{left: 18.1%; top: 17.1%;}
    #main-3 .main-3 .ministry .ministry-div3{top: 57.95%;left: 12.7%;}
    #main-3 .main-3 .ministry .ministry-div4{left: 12.7%; bottom: 24.65%;}
    #main-3 .main-3 .ministry .ministry-div5{bottom: 9.2%; right: 1.2%;}
    #main-3 .main-3 .ministry .ministry-div6{left: 0%; top: 29.2%;background-size: 115%;}
    #main-3 .main-3 .ministry .ministry-div7{top: 17%;left: 30.3%;z-index: 1;}
    #main-3 .main-3 .ministry .ministry-div8{right: 0%; top: 37%; background-size:130%;}
    #main-3 .main-3 .ministry .ministry-div9{bottom: 11.7%; left: 21.6%;}




	#main-4 .main-4 .media-title h1{letter-spacing: 90px;}
	#main-4 .main-4 .main-4-media{height:450px;}
	#main-4 .main-4 .main-4-media .media-main .media-bg{background-size: 100%;height: 260px;}
	#main-4 .main-4 .main-4-media .media-main .media-section{height:355px;}
	#main-4 .main-4 .main-4-media .media-main .media-section .media-btn a{height: 115px;width: 115px;}
	#main-4 .main-4 .main-4-media .media-main .media-section .media-top-main ul{padding: 20px 30px;}
	#main-4 .main-4 .main-4-media .media-main .media-section .media-top-main ul li{font-size:18px;}
	#main-4 .main-4 .main-4-media .media-main .media-section .media-top-page .media-top-btn{top:40%;}
	#main-5 .main-5 .gallery-title .gallery-href{left: 80%;}
	#main-5 .main-5 .gallery-main .gallery-content .contentSlideWrapper .contentSlide{padding: 15px;}
	#main-5 .main-5 .gallery-main .gallery-content .contentSlideWrapper .contentSlide a .gallery-img{width: 265px;height: 175px;}
	#main-5 .main-5 .gallery-main .gallery-content .contentSlideWrapper .contentSlide a h1{font-size:18px;}

	
}
@media (min-width:1200px) and (max-width:1499px) {
	#main-1{height: 585px;}
	#main-1 #sermon{height: 585px;}
	#main-1 #sermon .sermon-div{top: 60%;}
	#main-1 #sermon .sermon-div a h5{font-size:20px;}
	#main-1 #sermon .sermon-div a h1{font-size:48px;}
	#main-1 #sermon .sermon-div a h4{font-size:22px;}
	#main-1 #sermon .sermon_left_tap{bottom: 20%;}
	#main-1 #sermon #SermonImg > img{max-width:75%;}
	#main-2{padding-top: 195px;}
	#main-2 .main-2 #sermon-class .sermon-class-href{height: 175px;}
	#main-2 .main-2 #sermon-class .sermon-class-href a h1{font-size: 24px;}
	#main-2 .main-2 #sermon-class .sermon-class-href a h4.main2-title{font-size: 18px;}
	#main-2 .main-2 #sermon-class .sermon-class-href a h4.main2-subvalue{font-size: 18px;}
	#main-2 .main-2 #sermon-class .sermon-class-href a h4.main2-day{font-size: 18px;}

    #main-3 .main-3 .ministry{height: 1150px;}
	#main-3 .main-3 .ministry .ministryM h1{font-size:28px;}
	#main-3 .main-3 .ministry .ministryM h5{font-size: 16px;}
	#main-3 .main-3 .ministry .ministryIMG{position:relative;}
	#main-3 .main-3 .ministry .ministry-div0 .ministryIMG{width:399px;height:162px;}
    #main-3 .main-3 .ministry .ministry-div1 .ministryIMG{width:100px;height:100px;}
    #main-3 .main-3 .ministry .ministry-div2 .ministryIMG{width:140px;height:140px;}
    #main-3 .main-3 .ministry .ministry-div3 .ministryIMG{width:200px;height:100px;}
    #main-3 .main-3 .ministry .ministry-div4 .ministryIMG{width:100px;height:100px;}
    #main-3 .main-3 .ministry .ministry-div5 .ministryIMG{width:280px;height:280px;}
    #main-3 .main-3 .ministry .ministry-div6 .ministryIMG{width:345px;height:330px;}
    #main-3 .main-3 .ministry .ministry-div7 .ministryIMG{width:410px;height:570px;}
    #main-3 .main-3 .ministry .ministry-div8 .ministryIMG{width:385px;height:340px;}
    #main-3 .main-3 .ministry .ministry-div9 .ministryIMG{width:600px;height:250px;}
    #main-3 .main-3 .ministry .ministry-div1{right: 25%; top: 28.3%;}
    #main-3 .main-3 .ministry .ministry-div2{left: 18.1%; top: 17.1%;}
    #main-3 .main-3 .ministry .ministry-div3{top: 57.95%;left: 12.7%;}
    #main-3 .main-3 .ministry .ministry-div4{left: 12.7%; bottom: 24.65%;}
    #main-3 .main-3 .ministry .ministry-div5{bottom: 9.2%; right: 1.2%;}
    #main-3 .main-3 .ministry .ministry-div6{left: 0%; top: 29.2%;background-size: 115%;}
    #main-3 .main-3 .ministry .ministry-div7{top: 17%;left: 30.3%;z-index: 1;}
    #main-3 .main-3 .ministry .ministry-div8{right: 0%; top: 37%; background-size:130%;}
    #main-3 .main-3 .ministry .ministry-div9{bottom: 11.7%; left: 21.6%;}


	#main-4 .main-4 .media-title h1{letter-spacing: 90px;}
	#main-4 .main-4 .main-4-media{height:450px;}
	#main-4 .main-4 .main-4-media .media-main .media-bg{background-size: 100%;height: 260px;}
	#main-4 .main-4 .main-4-media .media-main .media-section{height:355px;}
	#main-4 .main-4 .main-4-media .media-main .media-section .media-btn a{height: 115px;width: 115px;}
	#main-4 .main-4 .main-4-media .media-main .media-section .media-top-main ul{padding: 20px 30px;}
	#main-4 .main-4 .main-4-media .media-main .media-section .media-top-main ul li{font-size:18px;}
	#main-4 .main-4 .main-4-media .media-main .media-section .media-top-page .media-top-btn{top:40%;}
    #main-5{height:610px;}
	#main-5 .container{width: 1035px;}
	#main-5 .main-5 .gallery-title .gallery-href{left: 80%;}
    #main-5 .main-5 .gallery-main .gallery-left{top: 45%;}
    #main-5 .main-5 .gallery-main .gallery-right{top: 45%;}
	#main-5 .main-5 .gallery-main .gallery-content .contentSlideWrapper .contentSlide{padding: 15px;}
	#main-5 .main-5 .gallery-main .gallery-content .contentSlideWrapper .contentSlide a .gallery-img{width: 230px;height: 155px;}
	#main-5 .main-5 .gallery-main .gallery-content .contentSlideWrapper .contentSlide a h1{font-size:18px;}
}

@media (min-width:993px) and (max-width:1199px) {
    #main-0{padding: 40px 0 0;}
    #main-1{height: 585px;}
	#main-1 #sermon{height: 585px;}
	#main-1 #sermon .sermon-div{top: 60%;}
	#main-1 #sermon .sermon-div a h5{font-size:17px;}
	#main-1 #sermon .sermon-div a h1{font-size:36px;}
	#main-1 #sermon .sermon-div a h4{font-size:20px;}
	#main-1 #sermon .sermon_left_tap{bottom: 20%;right: 3%;}
	#main-1 #sermon #SermonImg > img{max-width:63%;}
	#main-2{padding-top: 75px;}
	#main-2 .main-2 #sermon-class .sermon-class-href{height: 175px;}
    #main-2 .main-2 #sermon-class .sermon-class-href a .on,
    #main-2 .main-2 #sermon-class .sermon-class-href a .off{height: 175px;}
	#main-2 .main-2 #sermon-class .sermon-class-href a h1{font-size: 24px;}
	#main-2 .main-2 #sermon-class .sermon-class-href a h4.main2-title{font-size: 18px;}
	#main-2 .main-2 #sermon-class .sermon-class-href a h4.main2-subvalue{font-size: 18px;}
	#main-2 .main-2 #sermon-class .sermon-class-href a h4.main2-day{font-size: 18px;}

    #main-3 .main-3 .ministry{height: 950px;}
	#main-3 .main-3 .ministry .ministryM h1{font-size:28px;}
	#main-3 .main-3 .ministry .ministryM h5{font-size: 16px;}
	#main-3 .main-3 .ministry .ministryIMG{position:relative;}
	#main-3 .main-3 .ministry .ministry-div0 .ministryIMG{width:399px;height:162px;}
    #main-3 .main-3 .ministry .ministry-div1 .ministryIMG{width:100px;height:100px;}
    #main-3 .main-3 .ministry .ministry-div2 .ministryIMG{width:100px;height:100px;}
    #main-3 .main-3 .ministry .ministry-div3 .ministryIMG{width:160px;height:80px;}
    #main-3 .main-3 .ministry .ministry-div4 .ministryIMG{width:80px;height:80px;}
    #main-3 .main-3 .ministry .ministry-div5 .ministryIMG{width: 235px;height: 230px;}
    #main-3 .main-3 .ministry .ministry-div6 .ministryIMG{width:300px;height:330px;}
    #main-3 .main-3 .ministry .ministry-div7 .ministryIMG{width:350px;height:510px;}
    #main-3 .main-3 .ministry .ministry-div8 .ministryIMG{width:300px;height:275px;}
    #main-3 .main-3 .ministry .ministry-div9 .ministryIMG{width: 480px;height: 210px;}
    #main-3 .main-3 .ministry .ministry-div1{right: 21.2%; top: 31.4%;}
    #main-3 .main-3 .ministry .ministry-div2{left: 20.5%; top: 17.1%;}
    #main-3 .main-3 .ministry .ministry-div3{top: 62.3%;left: 14.1%;}
    #main-3 .main-3 .ministry .ministry-div4{left: 14.1%; bottom: 21%;}
    #main-3 .main-3 .ministry .ministry-div5{bottom: 5.1%; right: 1.3%;}
    #main-3 .main-3 .ministry .ministry-div6{left: 0%; top: 27.5%;background-size: 130%;}
    #main-3 .main-3 .ministry .ministry-div7{top: 17%;left: 31%;z-index: 1;}
    #main-3 .main-3 .ministry .ministry-div8{right: 0%; top: 42%; background-size:135%;}
    #main-3 .main-3 .ministry .ministry-div9{bottom: 7.3%; left: 22.6%;}

    #main-4{padding-bottom:50px;}
	#main-4 .main-4 .media-title h1{letter-spacing: 70px; font-size:36px;}
    #main-4 .main-4 .media-title .mediaTIMG{width:200px; height:200px; background-size:100%; background-repeat:no-repeat;}
	#main-4 .main-4 .main-4-media{height:400px;}
	#main-4 .main-4 .main-4-media .media-main .media-bg{background-size: 100%;height: 260px;}
	#main-4 .main-4 .main-4-media .media-main .media-bg img{left:35%;}
	#main-4 .main-4 .main-4-media .media-main .media-section{height:325px;}
	#main-4 .main-4 .main-4-media .media-main .media-section .media-btn a{height: 95px;width: 95px; font-size:17px;}
	#main-4 .main-4 .main-4-media .media-main .media-section .media-top-main ul{padding: 20px 30px;}
	#main-4 .main-4 .main-4-media .media-main .media-section .media-top-main ul li{font-size:18px;}
	#main-4 .main-4 .main-4-media .media-main .media-section .media-top-page .media-top-btn{top:40%;}
    #main-5{height:475px;}
	#main-5 .container{width: 835px;}
    #main-5 .main-5 .gallery-bg{height: 270px; width: 65%;}
    #main-5 .main-5 .gallery-hr{top: 23%;}
    #main-5 .main-5 .gallery-title{height:155px;}
	#main-5 .main-5 .gallery-title .gallery-href{left: 80%;}
    #main-5 .main-5 .gallery-main .gallery-left{top: 45%;}
    #main-5 .main-5 .gallery-main .gallery-right{top: 45%;}
	#main-5 .main-5 .gallery-main .gallery-content .contentSlideWrapper .contentSlide{padding: 15px;}
	#main-5 .main-5 .gallery-main .gallery-content .contentSlideWrapper .contentSlide a .gallery-img{width: 180px;height: 120px;}
	#main-5 .main-5 .gallery-main .gallery-content .contentSlideWrapper .contentSlide a h1{font-size:18px;}
}

@media (min-width:768px) and (max-width:992px) {
    #main-0{padding: 20px 15px 0;}
    /*
    #main-slider{margin-top:105px;}
        */
    #main-quick .container-fluid .row a .box span{font-size:17px;}
    #main-quick .container-fluid .row a .box span img{margin: 0 auto 5px; display: block;}
    #main-1{height: 800px;}
	#main-1 #sermon{height: 800px;padding-top:20px;}
    #main-1 #sermon hr{bottom: 45%; left: 57%;}
    #main-1 #sermon #SermonImg{left: 10%;}
	#main-1 #sermon .sermon-div{top: 85%; width: 85%; left:5%;}
	#main-1 #sermon .sermon-div a h5{font-size:17px;}
	#main-1 #sermon .sermon-div a h1{font-size:32px;}
	#main-1 #sermon .sermon-div a h4{font-size:20px;line-height: 2;}
	#main-1 #sermon .sermon_left_tap{top: 20%;right: 10%;}
	#main-1 #sermon #SermonImg > img{max-width:63%;}
	#main-2{padding-top: 75px;}
	#main-2 .main-2 #sermon-class .sermon-class-href{height: 175px; width:50%;}
    #main-2 .main-2 #sermon-class .sermon-class-href a .on,
    #main-2 .main-2 #sermon-class .sermon-class-href a .off{height: 175px;}
    #main-2 .main-2 #sermon-class .sermon-class-href a .sermonBTN img{display:none;}
	#main-2 .main-2 #sermon-class .sermon-class-href a h1{font-size: 24px;}
	#main-2 .main-2 #sermon-class .sermon-class-href a h4.main2-title{font-size: 18px;}
	#main-2 .main-2 #sermon-class .sermon-class-href a h4.main2-subvalue{font-size: 18px;}
	#main-2 .main-2 #sermon-class .sermon-class-href a h4.main2-day{font-size: 18px;}

    #main-3{padding-top: 40px;}
    #main-3 .main-3 .ministry{height: 750px;}
	#main-3 .main-3 .ministry .ministryM h1{font-size:20px;}
	#main-3 .main-3 .ministry .ministryM h5{font-size: 15px;}
	#main-3 .main-3 .ministry .ministryIMG{position:relative;}
	#main-3 .main-3 .ministry .ministry-div0 .ministryIMG{width:300px;height:130px;}
    #main-3 .main-3 .ministry .ministry-div1 .ministryIMG{width:80px;height:80px;}
    #main-3 .main-3 .ministry .ministry-div2 .ministryIMG{width:80px;height:80px;}
    #main-3 .main-3 .ministry .ministry-div3 .ministryIMG{width:120px;height:60px;}
    #main-3 .main-3 .ministry .ministry-div4 .ministryIMG{width:60px;height:60px;}
    #main-3 .main-3 .ministry .ministry-div5 .ministryIMG{width: 180px;height: 180px;}
    #main-3 .main-3 .ministry .ministry-div6 .ministryIMG{width:225px;height:240px;}
    #main-3 .main-3 .ministry .ministry-div7 .ministryIMG{width: 290px;height: 380px;}
    #main-3 .main-3 .ministry .ministry-div8 .ministryIMG{width: 210px; height: 195px;}
    #main-3 .main-3 .ministry .ministry-div9 .ministryIMG{width: 370px; height: 160px;}
    #main-3 .main-3 .ministry .ministry-div1{right: 17.7%; top: 31%;}
    #main-3 .main-3 .ministry .ministry-div2{left: 20.5%; top: 17.1%;}
    #main-3 .main-3 .ministry .ministry-div3{top: 59.6%;left: 14.5%;}
    #main-3 .main-3 .ministry .ministry-div4{left: 14.5%; bottom: 25%;}
    #main-3 .main-3 .ministry .ministry-div5{bottom: 8.7%; right: 1.3%;}
    #main-3 .main-3 .ministry .ministry-div6{left: 0%; top: 27.5%;background-size: 130%;}
    #main-3 .main-3 .ministry .ministry-div7{top: 17%;left: 31%;z-index: 1;}
    #main-3 .main-3 .ministry .ministry-div8{right: 0%; top: 41.6%;background-size:135%;}
    #main-3 .main-3 .ministry .ministry-div9{bottom: 11.3%; left: 22.6%;}

    #main-4{padding-bottom:50px;}
	#main-4 .main-4 .media-title h1{letter-spacing: 40px; font-size:36px;}
    #main-4 .main-4 .media-title .mediaTIMG{width: 145px;height: 145px;background-size: 100%;background-repeat: no-repeat;}
	#main-4 .main-4 .main-4-media{height:340px;}
    #main-4 .main-4 .main-4-media .media-main{width: 60%;}
	#main-4 .main-4 .main-4-media .media-main .media-bg{background-size: 100%;height: 215px;}
    #main-4 .main-4 .main-4-media .media-main .media-bg img{max-width:95px;}
	#main-4 .main-4 .main-4-media .media-main .media-section{height:270px;}
	#main-4 .main-4 .main-4-media .media-main .media-section .media-btn a{height: 80px;width: 80px; font-size:17px;}
	#main-4 .main-4 .main-4-media .media-main .media-section .media-top-main ul{padding: 20px 30px;}
	#main-4 .main-4 .main-4-media .media-main .media-section .media-top-main ul li{font-size:18px;}
	#main-4 .main-4 .main-4-media .media-main .media-section .media-top-page .media-top-btn{top:50%;}
    #main-5{height:525px;}
	#main-5 .container{width: 615px;}
    #main-5 .main-5 .gallery-bg{height: 270px; width: 65%;}
    #main-5 .main-5 .gallery-hr{top: 23%;}
    #main-5 .main-5 .gallery-title{height:155px;}
    #main-5 .main-5 .gallery-title .gallery-h1{top: 40%; right: 75%;}
    #main-5 .main-5 .gallery-title .gallery-h1 h1{font-size:40px;}
	#main-5 .main-5 .gallery-title .gallery-href{left: 65%;}
    #main-5 .main-5 .gallery-main .gallery-left{top: 45%;}
    #main-5 .main-5 .gallery-main .gallery-right{top: 45%;}
	#main-5 .main-5 .gallery-main .gallery-content .contentSlideWrapper .contentSlide{padding: 15px;margin: 20px 0 0;}
	#main-5 .main-5 .gallery-main .gallery-content .contentSlideWrapper .contentSlide a .gallery-img{width: 100%;height: 200px;}
	#main-5 .main-5 .gallery-main .gallery-content .contentSlideWrapper .contentSlide a h1{font-size:18px;}
}

@media (max-width:767px) {
    /*
    #main-slider{margin-top:105px;}
    */
    #main-slider{margin-top:60px;}
    #main-quick .container-fluid .row a .box{padding: 0 5px; word-break:keep-all;}
    #main-quick .container-fluid .row a .box span{font-size:17px;}
    #main-quick .container-fluid .row a .box span img{margin: 0 auto 5px; display: block;}
    #main-0{padding:40px 15px 0;}
    #main-1{height: 400px;}
	#main-1 #sermon{height: 400px;padding-top:20px;}
    #main-1 #sermon hr{bottom: 45%; left: 40%;border: 5px solid #B39A88;}
    #main-1 #sermon #SermonImg{left: 0%; max-width:45%;}
	#main-1 #sermon .sermon-div{top: 85%; width: 85%; left:5%;}
	#main-1 #sermon .sermon-div a h5{font-size:15px;margin:0;}
	#main-1 #sermon .sermon-div a h1{font-size:24px;margin:5px 0;}
	#main-1 #sermon .sermon-div a h4{font-size:17px;line-height: 2;margin:0;}
	#main-1 #sermon .sermon_left_tap{top: 20%;right: 10%;}
	#main-1 #sermon #SermonImg > img{max-width:100%;}
	#main-2{padding-top: 20px;}
	#main-2 .main-2 #sermon-class .sermon-class-href{height: 175px; width:100%;}
    #main-2 .main-2 #sermon-class .sermon-class-href a .on,
    #main-2 .main-2 #sermon-class .sermon-class-href a .off{height: 175px;}
    #main-2 .main-2 #sermon-class .sermon-class-href a .sermonBTN img{display:none;}
	#main-2 .main-2 #sermon-class .sermon-class-href a h1{font-size: 20px;}
	#main-2 .main-2 #sermon-class .sermon-class-href a h4.main2-title{font-size: 18px;}
	#main-2 .main-2 #sermon-class .sermon-class-href a h4.main2-subvalue{font-size: 15px;}
	#main-2 .main-2 #sermon-class .sermon-class-href a h4.main2-day{font-size: 15px;}

    #main-3{padding-top: 40px;}
    #main-3 .main-3 .ministry{height: 400px; max-width:345px; margin:0 auto;}
    #main-3 .main-3 .ministry > div{background-size:100%;}
	#main-3 .main-3 .ministry .ministryM h1{font-size:15px;text-align:right;}
	#main-3 .main-3 .ministry .ministryM h5{font-size: 15px;}
	#main-3 .main-3 .ministry .ministryIMG{position:relative;}
	#main-3 .main-3 .ministry .ministry-div0 .ministryIMG{width:150px;height:70px;}
    #main-3 .main-3 .ministry .ministry-div1 .ministryIMG{width:40px;height:40px;}
    #main-3 .main-3 .ministry .ministry-div2 .ministryIMG{width:40px;height:40px;}
    #main-3 .main-3 .ministry .ministry-div3 .ministryIMG{width:60px;height:30px;}
    #main-3 .main-3 .ministry .ministry-div4 .ministryIMG{width:30px;height:30px;}
    #main-3 .main-3 .ministry .ministry-div5 .ministryIMG{width: 75px;height: 75px;}
    #main-3 .main-3 .ministry .ministry-div6 .ministryIMG{width:115px;height:120px;}
    #main-3 .main-3 .ministry .ministry-div7 .ministryIMG{width: 145px;height: 186px;}
    #main-3 .main-3 .ministry .ministry-div8 .ministryIMG{width: 105px; height: 88px;}
    #main-3 .main-3 .ministry .ministry-div9 .ministryIMG{width: 185px; height: 70px;}
    #main-3 .main-3 .ministry .ministry-div1{right: 15.5%; top: 32%;}
    #main-3 .main-3 .ministry .ministry-div2{left: 19.5%; top: 17.1%;}
    #main-3 .main-3 .ministry .ministry-div3{top: 56.3%;left: 14.5%;}
    #main-3 .main-3 .ministry .ministry-div4{left: 14.5%; bottom: 29%;}
    #main-3 .main-3 .ministry .ministry-div5{bottom: 17.7%; right: 2.2%;}
	#main-3 .main-3 .ministry .ministry-div5 .ministryIMG .ministryM{left: 5%;}
    #main-3 .main-3 .ministry .ministry-div6{left: 0%; top: 26.5%;background-size: 130%;}
    #main-3 .main-3 .ministry .ministry-div7{top: 17%;left: 31%;z-index: 1;}
    #main-3 .main-3 .ministry .ministry-div8{right: 0%; top: 41.6%;background-size:135%;}
    #main-3 .main-3 .ministry .ministry-div9{bottom: 19%; left: 22.6%;}

    #main-4{padding-bottom:50px;}
	#main-4 .main-4 .media-title h1{letter-spacing: 20px; font-size:20px;}
    #main-4 .main-4 .media-title a{max-width:65px;}
    #main-4 .main-4 .media-title .mediaTIMG{width: 75px;height: 75px;background-size: 100%;background-repeat: no-repeat;}
	#main-4 .main-4 .main-4-media{height:435px;}
    #main-4 .main-4 .main-4-media .media-main{width: 100%; display:inline-block;}
	#main-4 .main-4 .main-4-media .media-main .media-bg{background-size: 100%;height: 145px;width: 70%;left: 15%;top: 22%;}
    #main-4 .main-4 .main-4-media .media-main .media-bg img{max-width:65px;}
	#main-4 .main-4 .main-4-media .media-main .media-section{height: 225px;bottom: 6%;left: 7%;width: 85%;position: absolute;}
	#main-4 .main-4 .main-4-media .media-main .media-section .media-btn a{height: 70px;width: 70px; font-size:15px;}
	#main-4 .main-4 .main-4-media .media-main .media-section .media-top-main ul{padding: 15px;}
	#main-4 .main-4 .main-4-media .media-main .media-section .media-top-main ul li{font-size:15px;}
	#main-4 .main-4 .main-4-media .media-main .media-section .media-top-page .media-top-btn{top:50%;}
    #main-5{height:430px;}
	#main-5 .container{width: inherit;}
    #main-5 .main-5 .gallery-bg{height: 270px; width: 65%;}
    #main-5 .main-5 .gallery-hr{top: 15%;}
    #main-5 .main-5 .gallery-title{height:65px;}
    #main-5 .main-5 .gallery-title .gallery-h1{top: 40%; right: 75%;}
    #main-5 .main-5 .gallery-title .gallery-h1 h1{font-size:20px;}
	#main-5 .main-5 .gallery-title .gallery-href{left: 50%;}
    #main-5 .main-5 .gallery-title .gallery-href a span{padding: 10px 60px; font-size: 15px;}
    #main-5 .main-5 .gallery-main .gallery-left{top: 45%;}
    #main-5 .main-5 .gallery-main .gallery-right{top: 45%;}
	#main-5 .main-5 .gallery-main .gallery-content .contentSlideWrapper .contentSlide{padding: 15px;margin: 20px 0 0;}
	#main-5 .main-5 .gallery-main .gallery-content .contentSlideWrapper .contentSlide a .gallery-img{width: 100%;height: 200px;}
	#main-5 .main-5 .gallery-main .gallery-content .contentSlideWrapper .contentSlide a h1{font-size:17px; margin:15px 0 0}
    #main-5 .main-5 .gallery-main .gallery-content .contentSlideWrapper .contentSlide a h5{font-size:15px;}
    #main-5 .main-5 .gallery-main .gallery-left,
    #main-5 .main-5 .gallery-main .gallery-right{display:none;}
	.slider .move-btn{display:none!important;}
}

@media (max-width:320px) {
}
